<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQlIte connection
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous lab to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [1]:
# provide your solution here
library(RSQLite)
library(tidyverse)
conn <- dbConnect(RSQLite::SQLite(),"Seoul_Bike.sqlite")

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.1.1       √ purrr   0.3.2
√ tibble  2.1.1       √ dplyr   0.8.0.1
√ tidyr   0.8.3       √ stringr 1.4.0
√ readr   1.3.1       √ forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
download.file('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv', 
              destfile='world_cities.csv')
download.file('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv',
              destfile='bike_sharing_systems.csv')
download.file('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv',
              destfile='cities_weather_forecast.csv')
download.file('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv',
              destfile='seoul_bike_sharing.csv')
df_world <- read_csv('world_cities.csv', col_types=cols())
df_bikesys <- read_csv('bike_sharing_systems.csv', col_types=cols())
df_forecast <- read_csv('cities_weather_forecast.csv', col_types=cols())
df_seoulbike <- read_csv('seoul_bike_sharing.csv', col_types=cols())
dbWriteTable(conn, 'WORLD_CITIES', df_world, overwrite=TRUE)
dbWriteTable(conn, 'BIKE_SHARING_SYSTEMS', df_bikesys, overwrite=TRUE)
dbWriteTable(conn, 'CITIES_WEATHER_FORECAST', df_forecast, overwrite=TRUE)
dbWriteTable(conn, 'SEOUL_BIKE_SHARING', df_seoulbike, overwrite=TRUE)

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions

In [3]:
names(df_world)

 [1] "CITY"       "CITY_ASCII" "LAT"        "LNG"        "COUNTRY"
 [6] "ISO2"       "ISO3"       "ADMIN_NAME" "CAPITAL"    "POPULATION"
[11] "ID"

In [4]:
names(df_bikesys)

[1] "COUNTRY"  "CITY"     "SYSTEM"   "BICYCLES"

In [5]:
names(df_forecast)

 [1] "CITY"              "WEATHER"           "VISIBILITY"
 [4] "TEMP"              "TEMP_MIN"          "TEMP_MAX"
 [7] "PRESSURE"          "HUMIDITY"          "WIND_SPEED"
[10] "WIND_DEG"          "SEASON"            "FORECAST_DATETIME"

In [6]:
names(df_seoulbike)

 [1] "DATE"                  "RENTED_BIKE_COUNT"     "HOUR"
 [4] "TEMPERATURE"           "HUMIDITY"              "WIND_SPEED"
 [7] "VISIBILITY"            "DEW_POINT_TEMPERATURE" "SOLAR_RADIATION"
[10] "RAINFALL"              "SNOWFALL"              "SEASONS"
[13] "HOLIDAY"               "FUNCTIONING_DAY"


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [7]:
# provide your solution here
dbGetQuery(conn, "select count(*) from SEOUL_BIKE_SHARING")

  count(*)
1 8465

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [8]:
# provide your solution here
dbGetQuery(conn, "select count(HOUR) from SEOUL_BIKE_SHARING where RENTED_BIKE_COUNT > 0")

  count(HOUR)
1 8465

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [9]:
# provide your solution here
dbGetQuery(conn, "select * from CITIES_WEATHER_FORECAST limit 1")

  CITY  WEATHER VISIBILITY TEMP  TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
1 Seoul Clear   10000      12.32 10.91    12.32    1015     50       2.18
  WIND_DEG SEASON FORECAST_DATETIME
1 248      Spring 1618574400

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [10]:
# provide your solution here
dbGetQuery(conn, "select distinct SEASONS from SEOUL_BIKE_SHARING")

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [11]:
# provide your solution here
dbGetQuery(conn, "select min(DATE), max(DATE) from SEOUL_BIKE_SHARING")

  min(DATE)  max(DATE)
1 01/01/2018 31/12/2017

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [12]:
# provide your solution here
dbGetQuery(conn, "select DATE, HOUR from SEOUL_BIKE_SHARING 
                  where RENTED_BIKE_COUNT = (select max(RENTED_BIKE_COUNT) from SEOUL_BIKE_SHARING)")

  DATE       HOUR
1 19/06/2018 18

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [13]:
# provide your solution here
dbGetQuery(conn, "select SEASONS, avg(TEMPERATURE), avg(RENTED_BIKE_COUNT) from SEOUL_BIKE_SHARING 
                  group by SEASONS order by avg(RENTED_BIKE_COUNT) desc limit 10")

  SEASONS avg(TEMPERATURE) avg(RENTED_BIKE_COUNT)
1 Summer  26.587711        1034.0734
2 Autumn  13.821580         924.1105
3 Spring  13.021685         746.2542
4 Winter  -2.540463         225.5412

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [14]:
# provide your solution here
dbGetQuery(conn, "select SEASONS, AVG(RENTED_BIKE_COUNT), MIN(RENTED_BIKE_COUNT), MAX(RENTED_BIKE_COUNT),
                  SQRT( AVG(RENTED_BIKE_COUNT*RENTED_BIKE_COUNT) - AVG(RENTED_BIKE_COUNT)*AVG(RENTED_BIKE_COUNT) ) as STDEV
                  from SEOUL_BIKE_SHARING group by SEASONS")

  SEASONS AVG(RENTED_BIKE_COUNT) MIN(RENTED_BIKE_COUNT) MAX(RENTED_BIKE_COUNT)
1 Autumn   924.1105              2                      3298
2 Spring   746.2542              2                      3251
3 Summer  1034.0734              9                      3556
4 Winter   225.5412              3                       937
  STDEV
1 617.3885
2 618.5247
3 690.0884
4 150.3374

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [15]:
# provide your solution here
dbGetQuery(conn, "select SEASONS, avg(TEMPERATURE), avg(HUMIDITY), avg(WIND_SPEED), avg(VISIBILITY),
                  avg(DEW_POINT_TEMPERATURE) as avg_DewPtTemp, avg(SOLAR_RADIATION) as avg_SolarRad,
                  avg(RAINFALL), avg(SNOWFALL), avg(RENTED_BIKE_COUNT) as avg_BikeRental
                  from SEOUL_BIKE_SHARING group by SEASONS order by avg(RENTED_BIKE_COUNT) desc")

  SEASONS avg(TEMPERATURE) avg(HUMIDITY) avg(WIND_SPEED) avg(VISIBILITY)
1 Summer  26.587711        64.98143      1.609420        1501.745
2 Autumn  13.821580        59.04491      1.492101        1558.174
3 Spring  13.021685        58.75833      1.857778        1240.912
4 Winter  -2.540463        49.74491      1.922685        1445.987
  avg_DewPtTemp avg_SolarRad avg(RAINFALL) avg(SNOWFALL) avg_BikeRental
1  18.750136    0.7612545    0.25348732    0.00000000    1034.0734
2   5.150594    0.5227827    0.11765617    0.06350026     924.1105
3   4.091389    0.6803009    0.18694444    0.00000000     746.2542
4 -12.416667    0.2981806    0.03282407    0.24750000     225.5412

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [16]:
# provide your solution here
dbGetQuery(conn, "select sum(B.BICYCLES) as Total_Bicycles, W.CITY, W.COUNTRY, W.LAT, W.LNG, W.POPULATION
                  from WORLD_CITIES W, BIKE_SHARING_SYSTEMS B where W.CITY=B.CITY and W.CITY='Seoul'")

  Total_Bicycles CITY  COUNTRY      LAT     LNG POPULATION
1 20000          Seoul Korea, South 37.5833 127 21794000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [17]:
# provide your solution here
head(df_world,1)
head(df_bikesys,1)
dbGetQuery(conn, "select B.CITY, B.COUNTRY, W.LAT, W.LNG, W.POPULATION, SUM(B.BICYCLES) as TOT_BIKE
                  from WORLD_CITIES W, BIKE_SHARING_SYSTEMS B where W.CITY = B.CITY 
                  group by B.CITY, B.COUNTRY having TOT_BIKE between 15000 and 20000
                  order by TOT_BIKE desc")

  CITY  CITY_ASCII LAT     LNG      COUNTRY ISO2 ISO3 ADMIN_NAME
1 Tokyo Tokyo      35.6897 139.6922 Japan   JP   JPN  T<U+014D>ky<U+014D>
  CAPITAL POPULATION ID
1 primary 37977000   1392685764

  COUNTRY CITY   SYSTEM BICYCLES
1 Albania Tirana NA     200

  CITY     COUNTRY     LAT     LNG      POPULATION TOT_BIKE
1 Seoul    South Korea 37.5833 127.0000 21794000   20000
2 Weifang  China       36.7167 119.1000  9373000   20000
3 Zhuzhou  China       27.8407 113.1469  3855609   20000
4 Shanghai China       31.1667 121.4667 22120000   19165
5 Beijing  China       39.9050 116.3914 19433000   16000
6 Ningbo   China       29.8750 121.5492  7639000   15000

In [18]:
dbDisconnect(conn)

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>